# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Streamlit & creds
token.json
client_secrets.json
service_account.json

# Misc
.idea/
.vscode/
